.upperbanner{
  height: 60vh;
  animation-name: backchange;
  background-color: white;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes backchange {
  0%{
    background-color: white;
  }
  100%{
    background-color: #7c759a;
  }
}

.banner {
  height: 60vh;
  color: black;
  position: relative;
  display: grid;
  margin-bottom: 38px;
  clip-path: polygon(100% 0, 100% 100%, 0 94%, 0 0);
  animation-name: colorchange;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorchange {
  0%{
    color: black;
  }
  100%{
    color: white;
  }
}

.banner img {
  object-fit: contain;
}

.bannercontent {
  place-self: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
  transform: translateY(-50px);
}

.getmbutton{
  display: block;
  animation-name: buttonopac;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes buttonopac {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.getdbutton{
  display: none;
}

@media screen and (min-width: 600px) {
 .banner{
  clip-path: polygon(100% 0, 100% 100%, 0 92%, 0 0);;
 }
 .getmbutton{
   display: none;
 }
 .getdbutton{
   display: block;
 }
}
