.heading{
  letter-spacing: 0.1px;
  line-height: 40px;
  text-align: center;
  font-size: 36px;
  max-width: 1200px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 24px 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  background-color: #f5f5f5;
  height: 300px;
}

.inner{
  width: 90%;
  margin: 0 auto;
}

.popover {
  width: 100%;
  max-width: 500px;
  overflow: none;
  height: 300px;
}

.popoverButton{
  margin-left: 30px;
  background-color: #898989;
  color: white;
  font-weight: 400;
  text-transform: none;
} 

.popoverPanel{
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 15px;
  margin: 10px auto;
  padding-top: 20px;
}

.popoverPanel > div {
  margin-bottom: 20px;
  margin-left: 20px;
}

.popoverPanel > div:nth-child(4){
  margin-left: 0px;
}

.documentation{
  background-color: #e2e2e2;
  padding: 5px 0;
  border-radius: 0 0 15px 15px;
}

.documentationheading{
  margin-left: 20px;
  margin-top: 15px;
}

.documentationtext{
  margin-left: 20px;
  margin-bottom: 15px;
}

.radiocontainer {
  background-color: #f5f5f5;
  width: 100%;
  display: block;
  padding-bottom: 20px;
}

.radioheading{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 3px;
}

.active{
  background-color: #dedede;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}

.inactive{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.radiooption{
  grid-row: 1/ span 1;
}

.radiodescription{
  grid-row: 2/ span 1;
}

.tick{
  grid-row: 1/ span 2;
  place-self: center;
}